* {box-sizing: border-box; }
html {margin: 0; background: #555; color: #fff; font-family: sans-serif; }
body {margin: 8px 0; }
h1, h3 {margin: 0.5em 0; font-weight: normal; }
h3:first-child {margin-top: 0; }
h3 {font-size: 14px; text-transform: uppercase; }
h4 {margin: 0; font-weight: normal; font-size: 14px; }
h5 {margin: 0; }
h1 img {margin: 0 10px 0 0; vertical-align: middle; }

fieldset {
    margin: 0 0 10px 0;
    border: 2px groove #888;
    padding: 10px;
}
button {
    border: 1px solid #333;
    border-radius: 4px;
    background: #666;
    color: #fff;
    background: linear-gradient(0deg, #666, #888);
}
button:focus {
    outline: none;
}
button:active {
    background: linear-gradient(0deg, #222, #444);
}
button:disabled {
    background: #999;
    border: 1px solid #666;
    color: #666;
}
input {
    margin: 0 4px;
    padding: 4px;
    background: #444;
    border: 1px solid #777;
    border-radius: 4px;
    color: #fff;
}
label {
    padding-right: 0.8em;
    font-size: 12px;
}
.column {
    margin: 0 8px 8px;
    width: 400px;
    float: left;
    overflow: auto;
}
#hud {
    width: 398px;
}
#behaviors {
    width: 340px;
}
#action {
    width: 340px;
}
#action pre {
    padding: 4px;
    overflow: auto;
}
#vizualize {
    margin: 0 0 10px 14px;
    position: relative;
    overflow: auto;
    width: 384px; height: 288px;
    float: left;
    background: #fff;
}
#vizualize > div, #vizualize canvas {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
#ruler-x {
    margin-left: 14px;
    position: relative;
    width: 384px;
    height: 14px;
}
#ruler-x span {
    display: inline-block;
    border-left: 1px solid #ccc;
    width: 25%;
    padding: 0 2px;
    font-size: 10px;
    line-height: 14px;
    vertical-align: middle;
    background: #333;
}
#ruler-x span:last-child {
    position: absolute;
    right: 0;
    width: auto;
    border-left: 0 none;
    border-right: 1px solid #ccc;
}

#ruler-y {
    position: absolute;
    width: 14px;
    height: 288px;
    left: 8px;
    top: 22px;
}
#ruler-y span {
    display: inline-block;
    border-top: 1px solid #ccc;
    width: 14px;
    height: 25%;
    padding: 0 2px;
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    background: #333;
    text-align: right;
}
#ruler-y span:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    border-top: 0 none;
    border-bottom: 1px solid #ccc;
}
#senseState {
    padding: 0.5em 1em;
    color: #fff;
    background: #000;
    overflow: auto;
    height: 280px;
}

#brightness {background-color: #333; display: none; }
#loc > div {width: 25%; height: 33.333%; float: left; }

#manual button {float: right; }
#controls button {
    margin-right: 10px;
    width: 103px;
}
#controls button:last-child {
    margin-right: 0;
}

#senseParams label, #actionParams label {
    padding: 4px 0;
    display: block;
    /*overflow: auto;*/
    text-align: right;
}
#senseParams label input, #actionParams label input {
    margin: 0 8px;
    width: 60px;
}
#current-action {
    font-size: 12px;
    text-transform: none;
}
#behaviorTable {
    width: 340px;
    height: 100px;
}
#newBehavior {
    float: right;
}
dialog {
    width: 800px;
}
dialog > div {
    width: 50%;
    float: left;
}
dialog pre {
    padding: 4px;
    max-height: 200px;
    background: #eee;
    overflow: auto;
}
#action-type {
    margin: 4px 0;
}
#action-param label {
    padding: 4px 0;
    display: block;
}
#action-param label select {
    margin: 0 4px;
}
#actions fieldset select {
    margin: 0 4px 0 0;
}
#actions fieldset {
    padding: 0 0 0 10px;
}
#actions fieldset button {
    margin: 0 10px 10px 0;
    min-width: 97px;
}
#actions h4 {
    margin: 5px 0;
}
#actions pre {
    margin: 0;
}
div.data-detector {
    font-size: 12px;
}
#behaviorDetectors > div {
    padding: 2px 0;
}
#behaviorActions > div {
    padding-bottom: 10px;
}
#mood-select {
    margin-top: 5px;
    float: right;
}
